@model OidcCallbackViewModel

<div class="text-center">
    <div>id_token: @Model.IdToken</div>
    <div>access_token: @Model.AccessToken</div>
    <div>token_type: @Model.TokenType</div>
    <div>expires_in: @Model.ExpiresIn</div>
</div>
